* {
    padding: 0px;
    margin: 0px;
}

h1 {
    background-color: green;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    position: relative;
    top: 10px;
}

#heading2 {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 20px;
}

h2 {
    font-weight: bolder;
    font-size: 35px;
    margin-top: 20px;
    padding: 20px;
}

hr {
    width: 98%;
    position: relative;
    left: 20px;
}

#main {
    margin: 20px;
    display: flex;
}

.heading3{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: rgb(0,0,255);
}

a:hover{
    color: lightblue;
}

p{
    margin-top: 20px;
    font-size: 20px;
}

.box{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 20%;
    margin-left: 10px;
    transition: all 0.5s ease;
}

.box:hover{
    width: 25%;
    position: relative;
    top: -20px;
    box-shadow: 10px 10px 10px rgb(0,128,0,0.5);
}

.imgsize{
    height: 174px;
    width: 100%;
}